:root {
  --brand-mustard: #F2B42C;
  --brand-blue: #5F87FF;
  --brand-dark: #242122;
  --brand-light: #EEEDEA;
  --brand-accent: #5FE7FF;
  --brand-white: #FFFFFF;
}

body {
  font-family: "Karla", sans-serif;
  background-color: var(--brand-light);
  color: var(--brand-dark);
}
