
<!-- Newsletter / Subscribe Section -->
<section class="bg-brand-dark text-brand-white pt-16">
  <div id="subscribe" class="container mx-auto text-center px-6">
    <!-- Thank You Message -->
    <div id="thank-you-message" class="hidden text-brand-white text-xl mt-6">
      Thank you for subscribing!
    </div>

    <iframe
      width="100%"
      height="400"
      src="https://d3b90eb7.sibforms.com/serve/MUIFAEdb4v3ZHey97aZ-3Csx9ie1-l5CfaVQ7fzWsLF1epUq5ct_aiCPiRp2y-ZN8fRD2FQGWJrFDEWtKzO1oWtQxjr6D7T6suIcoPKUIIqdS-h7S6LNw82xu_2hmXqTRljbbyR9KSuKLiY5GL6MYtuq9to73evImw0-WiRkv3aHzOIsnX0Rg1QSX3mDaF2jm1mvAR7YiQvP8k40"
      frameborder="0"
      scrolling="auto"
      allowfullscreen
      style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"
    ></iframe>
  </div>
</section>

<script>
  // Check query string for "status=success"
  const params = new URLSearchParams(window.location.search);
  if (params.get('status') === 'subscribed') {
    document.getElementById('thank-you-message').classList.remove('hidden');
  }
</script>

<footer class="bg-brand-dark text-brand-white">
  <div class="container mx-auto px-6 py-10 grid md:grid-cols-3 gap-8">

    <div>
      <h4 class="text-lg font-bold mb-4">{{ .Site.Title }}</h4>
      <p>{{ .Site.Params.footerDescription }}</p>
    </div>

    <div>
      <h4 class="text-lg font-bold mb-4">Quick Links</h4>
      <ul>
        <li><a href="/" class="hover:text-brand-mustard">Home</a></li>
        <li><a href="/categories" class="hover:text-brand-mustard">Categories</a></li>
        <li><a href="https://www.smort.tech" target="_blank" class="hover:text-brand-mustard">Visit Website</a></li>
        <li><a href="https://www.smort.tech/contact" target="_blank" class="hover:text-brand-mustard">Contact</a></li>
      </ul>
    </div>

  <div>
    <h4 class="text-lg font-bold mb-4">Follow Us</h4>
    <ul>
      <li><a href="https://x.com/@SmortDotTech" target="_blank" class="hover:text-brand-mustard">X</a></li>
      <li><a href="https://www.linkedin.com/company/smort-tech/" target="_blank" class="hover:text-brand-mustard">LinkedIn</a></li>
      <li><a href="https://www.youtube.com/@SmortDotTech" target="_blank" class="hover:text-brand-mustard">YouTube</a></li>
    </ul>
  </div>

  </div>

  <div class="text-center text-gray-400 mt-6 pb-6">
    &copy; {{ now.Format "2006" }} {{ .Site.Title }}. All rights reserved.
  </div>
</footer>
